*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    width: 100%;
    text-align: center;
    font-family: Forum;
    font-size:1.1rem;
    line-height: 1.5rem;
    min-width: 500px;
    background-image: url("../img/patrick-tomasso.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 100vh;
}
main{
    width:80%;
    background-color: rgb(219, 190, 228);
    margin: 30px auto 0 auto;
}
main >h1{
    font-size: 2rem;
    padding-top: 20px;
}
.page-header{
        width: 100%;
        height: 60px;
        background-color: #072e44;
        color: #f8f3f5;
        text-align: left;    
}
.page-header>h1{
    padding: 15px 0 15px 50px;
    font-size: 1.5rem;

}
h2{
    padding: 20px 0px 20px 0px;
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    text-align: center;
    padding: 0px 25px 0px 25px;
    
}
input{
    width: 80%;
    border-bottom: 1px solid black; 
    font-style: italic;
    background-color: rgb(180, 231, 233);
}
input::placeholder {
    color: rgb(56, 52, 52);
}
button{
    width: 200px;
    color: #f8f3f5;
    background-color: #072e44;
    border: 0;
    font-size: 1.2rem;
    padding: 5px 0px 5px 0px;
}
button:hover{
    background-color: rgb(133, 18, 156) ;
}
.grid >label{
    grid-row: 1;
    grid-column: 1;
}
.grid > .day-label{
    grid-row: 2;
    grid-column: 1;
    font-size: 1.5rem;
    
}
.grid > .day-input{
    grid-row: 2;
    grid-column: 2;
}
.grid > #date-fact{
    grid-row: 3;
    grid-column: span 3;
}
#trivia-fact, #math-fact, #date-fact, #year-fact, #fact{
    visibility: hidden;
    font-size: 1.4rem;
    font-family: sans-serif;
    background-color: rgb(133, 18, 156) ;
    grid-row: 2;
    grid-column: span 3;
    padding: 15px;

}
.random-fact,#getRandomBtn{
    margin-top: 20px; 
}
.copyright{
    text-align: right;
    font-size: 1.4rem;
}